/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


/* .react-datepicker__aria-live input{
  width: 100% !important;
}  */

.react-datepicker-wrapper input{
  width: 100% !important;
  border: solid 1px rgba(197, 214, 222, .7);
  padding: 5px;
  border-radius: 5px; 
  height: 33px !important;
  color: black;
  font-size: 14px;
  
}

.react-switch-handle{
   border-radius: 3px !important;
   padding: 2px !important;
   height: 19px !important;

}

.react-switch-bg{
  border-radius: 3px !important;
  padding: 2px !important;
  color: white !important;
  height: 21px !important;
  font-size: 11px !important;

}



 
